* {
  box-sizing: border-box;
  border-radius: 20px;
}

section {
  padding: 10px;
}

h3 {
  margin: 10px 10px;
}

#table {
  box-sizing: border-box;
  border: 10px solid black;
  justify-content: center;
  height: 1100px;
  width: 1200px;
  background-color: lightpink;
}

.dealer-cards, .player-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 5px solid grey;
  padding: 30px;
  margin: 20px;
  background-color: green;
  height: 200px;

}

#wager {
  text-align: center;
  border: 5px solid red;
  margin: 10px 300px;
}

#hit, #stay {
  display: flex;
}

button {
  cursor: pointer;
  padding: 15px 30px;
  font-size: 25px;
}

.card-back {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 5px 50px 5px;
  cursor: pointer;
  font-size: inherit;
  width: 4.0em;
  height: 5.5em;
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}